@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <h2>Twitter BackUp</h2>
        <ul>
            <li>
                An ASP.NET Core Web Application, where the users can store the posts of their favorite Twitter users and then to re-tweet some of the tweets.
            </li>
            <li>
                User is able to view and edit a list of their favorite Twitter accounts. That list must display some information about each account, such as followers, tweets, bio, etc.
            </li>
            <li>
                User is able to download tweets from their favorite Twitter accounts and store them inside the application.
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Team Members</h2>
        <ul>
            <li>Alexandra Petrova</li>
            <li title="da be">Dobromir Varbanov</li>
        </ul>
    </div>
</div>


