@model SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<h2>Search Twit Users</h2>

<form asp-controller="Search" asp-action="SearchResult" method="post" id="search-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div>
                    <div class="input-group stylish-input-group">
                        <input asp-for="SearchInput" class="form-control" />
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <span asp-validation-for="SearchInput" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" id="search-results"></div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")

    <script src="~/js/search.js"></script>
    <script src="~/js/showMore.js"></script>
    <script src="~/js/addFavTwitterUser.js"></script>
}


