
@{
    ViewData["Title"] = "Searchbar";
}

<h2>Search</h2>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/SearchBar.css" />
<!------ Include the above in your HEAD tag ---------->

<form asp-controller="SearchController" asp-action="Search" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input name="value" type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon">
                            <button asp-action="Search" id="search-button" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


