@model IList<TweetDTO>
@{
    ViewData["Title"] = "FavouriteTweets";
}

<h2>FavouriteTweets</h2>
<div id="list-favourite-tweets">
    @foreach (var tweet in Model)
    {
        <form asp-controller="RemoveTweet" asp-action="RemoveTweet" method="post">
            <div class="tweet">
                <div class="jumbotron">
                    <h5 class="tweet-date">@tweet.CreatedAt</h5>
                    <p class="tweet-text">@tweet.Text</p>
                    <input hidden name="tweetId" value="@tweet.TweetId" />
                    <button class="button" id="@tweet.TweetId" type="submit">Remove</button>
                </div>
            </div>
        </form>
    }
</div>

@section Scripts {
    <script src="~/js/removeTweet.js"></script>
}
