body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.profile-image {
    border-radius: 50%;
}

.name {
    font-size: 25px;
}

.more-info {
    width: 100%;
}

.profile-image {
    border-radius: 40%;
}

.button {
    background-color: #4880c4;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30%;
    float: right;
}

.button:disabled {
    background-color: #c3cee0;
}

.button:hover {
    background-color: #7babe5;
}

.button-admin {
    background-color: #af2626;
    border: none;
    color: white;
    padding: 7px 35px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30%;
    float: right;
}

.button-admin:disabled {
    background-color: #ed6f6f;
}

.button-admin:hover {
    background-color: #c94040;
}

.container-twitter-user {
    border-bottom: dotted;
}

.additional-info {
    display: inline-block;
}

.panel-info {
    color: black !important;
}

.loader-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.show-tweets {
    margin: 0;
}

div#tweets-list {
    padding-top: 10%;
}

.tweet {
    max-width: 70%;
}

.tweet .jumbotron {
    box-shadow: 5px 5px 10px gray;
}

a.show-tweets-link:link, a.show-tweets-link:visited {
    background-color: #4880c4;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 35px;
}

.button-show-tweets {
    background-color: #4880c4;
    text-align: center;
    color: white;
    padding: 10px;
}

.button-show-tweets:hover {
    background-color: #7babe5;
}

.card-body {
    box-shadow: 0 0 4px 0px black;
    padding: 10px;
    margin-bottom: 5%;
}

a.card-link {
    padding: 5%;
}

.navbar-inverse {
    background-color: #777;
    border-color: #777;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
    text-decoration: underline;
}
